@import url("./../lib/css/bootstrap.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  border: 1px solid black;
}

.logo {
  height: 150px;
  width: 450px;
}
ul {
  list-style-type: none;
}
.fulanito img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 576px) {
  *{
    background-color: purple;
  }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
  
*{
  background-color: pink;
}
  
}

@media screen and (min-width: 769px){
  *{
    background-color: aqua;
  }
  
}