* {
    border:1px solid black;
}
header{
    display:flex;
}
header img{
    display:inline-block;
    height:100px;
    width:250px;
}
nav{
    flex-grow:1;
}
nav > ul{
    list-style-type: none;
    display: flex;
}
.card img{
    display:inline-block;
    height:100px;
    width:100px;
}