@import url("./../lib/css/bootstrap.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

main * {
  margin: 0;
  padding: 0;
}
main > * {
  border: 1px solid black;
}

/* breadcrum */
main > nav > ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
main > nav > ol > li + li::before {
  content: "/";
  padding-right: 1em;
}
main > nav > ol > li {
  margin: 0 0.5em;
}

/* card */
main > nav,
main > header,
main > main,
main > footer {
  width: 80%;
  margin: 0 auto;
}
main {
  display: grid;
  grid-template-rows:
    [nav] auto [head] auto 
    [img1] 20vh [divParrafos] auto
    [img2] 20vh [parrafo] auto [final];
  text-align: center;
}
main > header {
  color: red;
}
main > div {
  background-image: url("../assets/images/landscape.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
main > main {
  display: flex;
  color: blue;
}
main > main > * {
  flex: 1;
}
@media screen and (max-width: 576px) {
  main > main {
    flex-direction: column;
  }
}
